* {
    padding: 0;
    margin: 0;
    font-family: "Signika", sans-serif;
}


.signika {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
  }

.menu {
    background-color: #1B4436;
    padding: 8px;
}

.menu_conteudo {
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    gap: 8px;
}

.menu_link {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.menu_link:hover {
    background-color: green;
    padding: 10px;
}

.info {
    background: url(../images/gramado.png);
    background-size: cover;
    background-position: center;
    height: 260px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    text-align: center;
}

.texto {
    background-color: green;
    padding: 10px 16px;
    width: 300px;
    opacity: 0.83;
}


.card {
    padding: 8px;
    border: 2px solid #505050;
    border-radius: 15px;
    max-width: 390px;    
}

.card:hover {
    border-width: 2px;
    border-color: #232123;
    transform: scale(1.03);
    transition: 800ms;
}

.card-galeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 4px;
}

.card-imagem {
    border: 2px #232123 solid;
    border-radius: 10px;
}

.card-titulo {
    color: black;
    margin: auto;
}

.card-texto {
    line-height: 1.2;
}

.card-link {
    display: flex;
    text-decoration: none;
    padding: 10px 16px;
    background-color: green;
    color: black;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.2;
    font-weight: bold;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card-link:hover {
    background-color: #1B4436;
}