* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.info {
    background: rgba(182, 213, 255, 2.1);
    background: radial-gradient(circle, rgba(182, 213, 255, 0.4) 0%, rgba(230, 242, 242, 1) 100%),
    url(/assets/images/codigo.png);
    background-size: cover;
    background-position: center;
    height: 371px;
    color: white;
    padding-top: 64px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 60px;
    color: #202124;
}

.card {
    display: flex;
    background-color: #B6D5FF;
    padding: 20px;
    border: 2px solid #505050;
    width: 390px;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

.card:hover {
    border-width: 2px;
    border-color: #232123;
    transform: scale(1.03);
    transition: 800ms;
}

.card-projetos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 4px;
}

.card-imagem {
    margin: auto;
    display: block;
}

.card-titulo {
    color: black;
    margin: 20px;
}

.card-texto {
    background-color: white;
    width: 390px;
    line-height: 1.4;
    padding: 20px;
    margin: 20px;
}

.submit-botao {
    
    padding-top: 0px;
}