* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: white;
  color: #484946;
  padding: 20px;
  line-height: 1.5;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecalho {
  background-color: #F1F1F1;
  padding: 24px;
  margin-bottom: 24px;
  width: 832px;
  border-radius: 8px;
  position: relative;
}

.cabecalho h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.cabecalho p {
  font-weight: bold;
}

#toggleTema {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  width: 24px;
}

.grupo {
  background-color: #f1f1f1;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 25px;
  width: 832px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid #286BB9;
  border-radius: 4px;
  background-color: white;
}

textarea {
  resize: none;
}

.radio-inline {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #286BB9;
}

.botao {
  background-color: #286BB9;
  color: white;
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
  cursor: pointer;
}

.rodape {
  width: 832px;
  font-size: 0.9em;
}

body.dark {
  background-color: #121212;
  color: #FCFDFC;
}

body.dark .cabecalho {
  background-color: #373636;
}

body.dark .grupo {
  background-color: #373636;
  border-color: #1E1E1E;
}

body.dark input[type="text"],
body.dark select,
body.dark textarea {
  background-color: #1E1E1E;
  color: #FCFDFC;
  border: 2px solid #286BB9;
}

body.dark input::placeholder,
body.dark textarea::placeholder {
  color: #8F8D99;
}

body.dark a {
  color: #286BB9;
}

body.dark .botao {
  background-color: #286BB9;
  color: white;
}