body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222222;
    margin: 0;
    padding: 20px;
    line-height: 1.5;
}

.grupo {
    background-color: #F1F1F1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid #dadada;
    text-align: left;
    width: 832px;
}

.formulario {
    justify-items: center;
}

.curso,
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #286BB9;
    border-radius: 4px;
    background-color: white;
}

.area {
    resize: none;
    background-color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #286BB9;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 14px;
    height: 14px;
    accent-color: #286BB9;
    color: #286BB9;
    background-color: white;
}

.botao {
  background-color: #286BB9;
  border: none;
  border-radius: 8px;
  color: #FBFCFF;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
}